{% set guideMenuIndex = 4 %}
{% set guideTitle = "샘플페이지" %}
{% set guideSubTitle = "샘플페이지" %}


{% extends "@guide/index.html" %}
{% block body %}
	{{ guideNode | addGlobalVar('guideNode') }}

	{% set tmp =  _eval('_.each( env.vars.guideNode, function( item ){
        //console.log(item);
	})') %}

	{% set clearMemory = _eval('(function(){
        delete env.vars.guideNode;
    }())') %}

	{% for page in guideNode %}
		{% set totalLen = _.size( page.list )%}
		<h3 class="pat30">{{ page.name }}</h3>
		<div class="work-list">
			<span class="work-count">Total : {{ totalLen }} </span>
			<table>
				<colgroup>
					<col style="width:10%"/>
					<col style="width:15%"/>
					<col style="width:75%"/>
				</colgroup>
				<thead>
				<tr>
					<th scope="col">Index</th>
					<th scope="col">페이지명</th>
					<th scope="col">URL</th>
					{#<th scope="col">preview</th>#}
				</tr>
				</thead>
				<tbody>
				{% for nodelist in page.list %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ nodelist.base }}</td>
						<td class="left"><a href="{{ nodelist.url }}" target="_blank">{{ nodelist.url }}</a></td>
						{#<td class="preview"><a href="" target="_blank" title="새 창 링크">preview</a></td>#}
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}
{% endblock %}